{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	{% include "shared/_navbar.html.twig" %}
	<div class="has-text-light container">
		<h1>Test upload</h1>

		{{ form(form) }}

		</div>
	{% endblock %}
