@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

$family-sans-serif: "Noto Serif", "Helvetica Neue", sans-serif;


/** hover on brand **/
.navbar.is-black .navbar-brand > a.navbar-item:hover {
    background-color: transparent;
    border-bottom: whitesmoke 2px;
  }

@import "./mystyles.css";
@import "../../node_modules/bulma/bulma.sass";
@import "../font-awesome/scss/font-awesome.scss";
//@import "~bootstrap/scss/bootstrap";
