html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Noto Serif", "Helvetica Neue", sans-serif;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

/*** hero curve css***/
.hero-curve {
  display: block;
  box-sizing: border-box;
  height: 500px;
  background-color: hsl(0, 0%, 21%);
  clip-path: ellipse(75% 100% at 65% 0%);
}

/** hover on brand **/
.navbar.is-black .navbar-brand > a.navbar-item:hover {
  background-color: transparent;
  border-bottom: whitesmoke 2px;
}

/* sticky footer card */
#wrapper-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}