<div id="wrapper-container" class="card">
	<div id="wrapper" class="is-flex is-align-items-center">
		<div class="card-image">
			<figure class="image">
				<img src="{{ asset('img/' ~ w.file ~ w.slug ~ '-1.jpg') }}" alt="Placeholder image">
			</figure>
		</div>

	</div>
	<footer class="card-content has-text-centered has-background-light">
		<a href="{{ path('show', {'slug': w.slug}) }}" class="button is-gost">Explorer...</a>
	</footer>
</div>
