<div id="wrapper-container" class="card">
	<div id="wrapper">
		<div class="card-image">
			<figure class="image">
				<img src="{{ asset('img/danse/danse-1.jpg') }}" alt="Placeholder image">
			</figure>
		</div>
<<<<<<< HEAD

	</div>
	<footer class="card-content has-text-centered has-background-light">
		<a href="{{ path('show', {'id':1}) }}" class="button is-gost">Explorer</a>
=======
		<div class="card-content">
			<h2 class="title">Titre</h2>
			<div class="content">
				<p>Content</p>
			</div>
		</div>
	</div>
	<footer class="card-content">
		<a href="lien" class="button is-link">Lire l'article</a>
>>>>>>> 9ca642cc85b0db97b3a9f72fd3dc09ce21e863a9
	</footer>
</div>
