<div id="wrapper-container" class="card">
	<div id="wrapper">
		<div class="card-image">
			<figure class="image">
				<img src="{{ asset('img/danse/danse-1.jpg') }}" alt="Placeholder image">
			</figure>
		</div>
		<div class="card-content">
			<h2 class="title">Titre</h2>
			<div class="content">
				<p>Content</p>
			</div>
		</div>
	</div>
	<footer class="card-content">
		<a href="lien" class="button is-link">Lire l'article</a>
	</footer>
</div>
