<footer id="contact" class="footer has-background-black">
	<div class="content has-text-centered has-text-grey-lighter">
		<div class="">
			<p>- Conception Mattéo Dauchez -</p>
		</div>
	</div>
</footer>
