<<<<<<< HEAD
<footer class="footer has-background-black">
=======
<footer class="footer has-background-dark">
>>>>>>> 9ca642cc85b0db97b3a9f72fd3dc09ce21e863a9
	<div class="content has-text-centered has-text-light">
		<p>Alain Dauchez - dauchez.alain@gmail.com - +33 7 61 92 37 82</p>
		<div class="tag is-light">
			<p>Conception
				<strong>Mattéo Dauchez</strong>
			</p>
		</div>
	</div>
</footer>
