<section class="hero is-dark is-fullheight hero-curve">
	<div class="hero-head">
		{% include "shared/_navbar.html.twig" %}
	</div>

	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="column is-6 is-offset-3">
				<h1 class="title">
					Alain Dauchez
				</h1>
				<h2 class="subtitle">
					Artiste sculpteur sur bois à Wimereux, Côte d'Opale
				</h2>
			</div>
		</div>
	</div>

</section>
