<section class="hero is-dark is-fullheight hero-curve">
	<div class="hero-head">
		{% include "shared/_navbar.html.twig" %}
	</div>

	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="column is-6 is-offset-3">
				<h1 class="title">
					{{ auteur.prenom }}
					{{ auteur.nom }}
				</h1>
				<h2 class="subtitle">
					{{ auteur.sousTitre }}
				</h2>
				{# <a class="button is-white" href="#last_work">
									<p class="mr-2">Derniers travaux</p>
									<i class="fa fa-chevron-down"></i>
								</a> #}
			</div>
		</div>
	</div>

</section>
