<nav class="navbar is-black">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="../">
				<img class="pr-2" src="{{ asset('img/logo_blanc.png') }}" alt="Logo">
				<span>Alain Dauchez</span>
			</a>
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu" style="background-color:transparent">
			<div class="navbar-end is-flex is-justify-content-right">
				<span class="navbar-item ">
					<a class="button is-white is-outlined" href="#last">
						<span class="icon">
							<i class="fa fa-home"></i>
						</span>
						<span>Réalisations</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-white is-outlined" href="#a_propos">
						<span class="icon">
							<i class="fa fa-book"></i>
						</span>
						<span>A propos</span>
					</a>
				</span>
				<span class="navbar-item">
					<a class="button is-white is-outlined" href="">
						<span class="icon">
							<i class="fa fa-github"></i>
						</span>
						<span>Contact</span>
					</a>
				</span>
			</div>
		</div>
	</div>
</nav>
