<nav class="navbar is-black">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ path('home') }}">
				<img class="pr-2" src="{{ asset('img/logo_blanc.png') }}" alt="Logo">
				<span>Alain Dauchez</span>
			</a>
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu" style="background-color:transparent">
			<div class="navbar-end is-flex is-justify-content-right">
				<div class="tabs is-right has-text-light">
					<span class="navbar-item">
						<a class="button is-white is-outlined" href="{{ path('work') }}">
							<span>Réalisations</span>
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</nav>
